$borderColor: #cbcbcb;
.actionBox {
  // pointer-events: none;
  opacity: 0;
  display: inline-block;
  position: absolute;
  padding: 10px 30px;
  color: #444;
  margin-top: 20px;
  // font-stretch: condensed;
  text-decoration: none;
  background-color: white;
  border: 1px solid $borderColor;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  &.is-active {
    opacity: 1;
    transition: all 0.3s ease;
  }
}

$arrowSize: 10px;
.actionBox:after, .actionBox:before {
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.actionBox:after {
	border-color: rgba(255, 255, 255, 0);
	border-width: $arrowSize;
}
.actionBox:before {
	border-color: rgba(0, 0, 0, 0);
  border-width: ($arrowSize + 1px);
}

.actionBox.from-below {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  &:before, &:after {
    bottom: 100%;
    left: 50%;
  }
  &:after {
    border-bottom-color: #FFF;
    margin-left: -$arrowSize;
  }
  &:before {
    border-bottom-color: $borderColor;
    margin-left: -($arrowSize + 1px);
  }
}

.actionBox.from-left {
  &:before, &:after {
    left: 100%;
	  top: 50%;
  }
  &:after {
    border-left-color: #FFF;
    margin-top: -$arrowSize;
  }
  &:before {
    border-left-color: $borderColor;
    margin-top: -($arrowSize + 1px);
  }
}

.actionBox.from-above {
  &:before, &:after {
    top: 100%;
	  left: 50%;
  }
  &:after {
    border-top-color: #FFF;
    margin-left: -$arrowSize;
  }
  &:before {
    border-top-color: $borderColor;
    margin-left: -($arrowSize + 1px);
  }
}

.actionBox.from-right {
  &:before, &:after {
    right: 100%;
	  top: 50%;
  }
  &:after {
    border-right-color: #FFF;
    margin-top: -$arrowSize;
  }
  &:before {
    border-right-color: $borderColor;
    margin-top: -($arrowSize + 1px);
  }
}
